.text {
    display: block;
    margin: 10px 0;
}

.text label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bolder;
}

.text input {
    display: block;
    padding: 5px;
    font-size: 1.1em;
}

#characters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#characters label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px;
}

#characters input, #characters img {
    margin: 0 7px;
}