html{
    background-color: aquamarine;
}
main {
    text-align: center;
    max-width: 10000px;
    margin: auto;
    margin-bottom: 1000px;
    background-color: aquamarine;
   
}
header{
    background-color: blueviolet;
}

.choice {
    display: block;
    list-style: none;
    padding: 5px;
}

.choice input {
    margin-right: 5px;
}

#result {
    background: #c35bed;
    padding: 5px;
}

#result-description {
    background: #1b858d;
    font-weight: bolder;
}