/* add home page styles here */
html {
    background-color: paleturquoise;
}
input[type='radio']{
    display: none;
}
input[type='radio']:checked + img{
    -moz-box-shadow:    3px 3px 5px 6px rgb(216, 89, 216);
    -webkit-box-shadow: 3px 3px 5px 6px teal;
    box-shadow:         6px 3px 5px 6px purple;
}
.pick-avatar{
    width: 150px;
    height: 150px;
    margin: 0px 30px 0px 30px;
    padding: 20px;
}
#avatar-container{
    justify-content: space-around;
    margin: 0px 0px 40px 0px;
}
#begin-button{
    font-size: 40px;
}

#user-info{
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    position: relative;
}

.right-margin{
    margin-right:50px;
}

.bottom-margin{
    margin-bottom: 10px;
}

.life-assets{
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.char-icon{
    height: 50px;
    width: 50px;
}

#char-group{
    margin: 0px 30px 0px 30px;
}

#title{
    margin-left:50px;
    font-size: 45px;
}